<div class="col-4">
  &nbsp;
</div>
<div class="col">
  <div class="card" id="app">
    <div class="card-body">
      <button type="button" @click="getNewPhrase" class="btn btn-primary btn-lg btn-block" :disabled="cannotGetNewPhrases">
        <span v-if="loading">Please wait..</span>
        <span v-else>Get new phrase.</span>
      </button>
      <button type="button" @click="clearPhrases"  class="btn btn-danger btn-lg btn-block">
        Clear phrases.
      </button>
      <p>&nbsp;</p>
       <h5 class="lead text-center">
        <b>There are {{remaining}} phrases left in the database.
        </b>
       </h5> 
       <ul class="list-group list-group-flush text-center">
        <li v-for="phrase in phrases" :key="phrase.id" class="list-group-item">{{phrase.title}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="col-4">
&nbsp;
</div>